/******

INFO SUI FONT


*****/


/* Titoli */
/* font-family: "Edu TAS Beginner", cursive; */

/* Date */
/* font-family: "Sometype Mono", monospace; */

/******

RESET

******/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*****

BODY

*****/


/*****
HEADER
*****/

header {
    background-image: url(../img/wall.png);
    
}

header h1 {
    font-size: 4rem; 
    font-family: "Edu TAS Beginner", cursive; 
    font-weight: 900;
}

/*****
MAIN 
*****/

main {
    background-image: url(../img/cork.png);
    background-size: auto;
    height: 100vh;
    font-family: "Sometype Mono", monospace;
}

.card {
    padding: 20px;
}

.card h3{
    font-family: "Edu TAS Beginner", cursive;   
    font-style: italic;
    text-transform: uppercase;
}

.puntina{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 50%;
    top: 0px;
    transform: translate(50%, -25%);
}


/*****
OVERLAY
*****/

#overlayDiv {
    display: none; 
    background-color: rgba(0,0,0,0.5); 
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9;  
}

#overlayDiv.overlay {
    display: block; 
}

.overlay{
    background-color: rgba(0,0,0,0.5);
    z-index: 9;
    width: 100%;
    height: 100%;
    position: fixed;    
}

.imgOverlay {
    width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.buttonOverlay {
    padding: 10px;
    border-radius: 15px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/******
ROTAZIONE
******/
.card{
    transition: transform 1s;
    
}

.card:hover {
	transform:rotate(10deg) scale(1.1); 
    box-shadow: 10px 10px 5px #424040;   
    z-index: 4;
}