/******

INFO SUI FONT


*****/


/* Titoli */
/* font-family: "Edu TAS Beginner", cursive; */

/* Date */
/* font-family: "Sometype Mono", monospace; */

/******

RESET

******/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*****

BODY

*****/


/*****
HEADER
*****/

header {
    background-image: url(../img/wall.png);
    
}

header h1 {
    font-size: 4rem; 
    font-family: "Edu TAS Beginner", cursive; 
    font-weight: 900;
}

/*****
MAIN 
*****/

main {

    background-image: url(../img/cork.png);
    background-size: auto;
    font-family: "Sometype Mono", monospace;

}


.card {
    padding: 20px;
}
